extends layout

block content
    if user
        h1.mb-5 #{title}
        .row
            each album, i in albums 
                .col-3
                    .card_song
                        a(href="#!").card_img
                            img.song_img(src=`../public/images/${album._id.img}` alt="png")
                        a.song_name(href="#!")= album._id.album


