extends layout

//- block content
//-     h1.mb-5 #{title}
//-     .row
//-         each song, i in songs 
//-             .col-3
//-                 .card_song
//-                     .card_img
//-                         .card_hover
//-                             //- audio.card_audio(src=`../public/music/${music.song}`, id=music.id)
//-                             button.card_play 
//-                                 i.fas.fa-play
//-                             button.card_pause 
//-                                 i.fas.fa-pause
//-                         img.song_img(src=`../public/images/${song._id.img}` alt="png")
//-                     a.song_name(href="/musics/"+song._id.singerID)= song._id.singer