extends layout

block content
    if user
        h1.mb-5 #{title}
        .row
            each singer, i in singers 
                .col-3
                    .card_song.singer_card
                        .singer_photo
                            .singer_photo_shadow
                                a.singer_name(href="#!")= singer._id.singer
                            img(src=`../public/images/${singer._id.img}` alt="png")